body
{
    background-image: url(".../bg.jpg");
}
h1 {
  text-align: center;
}
.jumbotron {
  background-color:#66ff66;
  background-image: url(.../logo.jpg);
  color: white;

}
.carousel-caption {
  color: black;
}
.carousel {
  padding-bottom: 3px;
}

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
.navbar-custom {
background-color: #5cb85c;
color:#ffffff;
border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
color: #ffffff;
background-color:transparent;
}
.navbar-custom .navbar-brand {
color:#eeeeee;
}
.thumbnail {
      display: inline-block;
      padding: 4px;
      margin-bottom: 0%;
      line-height: 1.42857143;
      background-color: #ddd;
      border: 1px solid #ddd;
      border-radius: 4px;
}
.thumbnail img
{ position: relative;
  top: 0;
  bottom: 0;
  margin:
  auto;
 }
